@use '@/lib/styles/mixins' as *;

.post-job-info {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex-row-center;

    &__content {
   h1{
     color: #FFF;
     font-size: 35px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
   }
      h4{
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 30px;
      }
    }
  }
  &__bottom{
    @include flex-row-center;
    h1{
      font-size: 35px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    h4{
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 960px) {
  .post-job-info {
    &__top,&__bottom{
      flex-direction:column;
      height: fit-content;
      padding: 16px;
      margin-bottom: 40px;
    }
  }

  .post-job-info {
    width: 100%;
    display: flex;
    flex-direction: column;
  
    &__top {
      gap:50px;
    }

    &__bottom{
     
    }
  }

  

}